<a href="https://colab.research.google.com/github/ColdDarkCoffee/Deep-Learning/blob/main/TimeSeries_BTC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Building a TimeSeries models with Tensorflow

In [ ]:
# TimeSeries is a machine learning idea
# where people predict future values using
# data in the past in any timeline
# and used for finances, stocks and housing

In [ ]:
# import needed libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Let's start with Bitcoin pricing
df = pd.read_csv("/content/BTCUSD_day.csv",
                 parse_dates=['Date'],
                 index_col=['Date'])

In [ ]:
# Display given data
df.head()

            Symbol     Open     High      Low    Close  Volume BTC   Volume USD
Date
2020-04-10  BTCUSD  7315.25  7315.25  7315.25  7315.25        0.00         0.00
2020-04-09  BTCUSD  7369.60  7378.85  7115.04  7315.25     2237.13  16310014.53
2020-04-08  BTCUSD  7201.81  7432.23  7152.80  7369.60     2483.60  18138080.27
2020-04-07  BTCUSD  7336.96  7468.42  7078.00  7201.81     2333.34  17047120.32
2020-04-06  BTCUSD  6775.21  7369.76  6771.01  7336.96     3727.47  26533750.17

In [ ]:
df.info() # check the information

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1647 entries, 2020-04-10 to 2015-10-08
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Symbol      1647 non-null   object
 1   Open        1647 non-null   float64
 2   High        1647 non-null   float64
 3   Low         1647 non-null   float64
 4   Close       1647 non-null   float64
 5   Volume BTC  1647 non-null   float64
 6   Volume USD  1647 non-null   float64
dtypes: float64(6), object(1)
memory usage: 102.9+ KB

In [ ]:
df.columns

Index(['Symbol', 'Open', 'High', 'Low', 'Close', 'Volume BTC', 'Volume USD'], dtype='object')

In [ ]:
# How many samples 
len(df)

1647

In [ ]:
# Seperate the values to get the dataset for the price
bitcoin_prices = pd.DataFrame(df["Close"]).rename(columns={"Close (USD)": "Price"})
bitcoin_prices.head()

              Close
Date
2020-04-10  7315.25
2020-04-09  7315.25
2020-04-08  7369.60
2020-04-07  7201.81
2020-04-06  7336.96

In [ ]:
# Visualizing the dataset
import matplotlib.pyplot as plt
bitcoin_prices.plot(figsize=(10, 7))
plt.ylabel("BTC Price")
plt.title("Price of Bitcoin from 2016 to 2021", fontsize=12)
plt.legend(fontsize=14);

In [ ]:
# Plot from CSV
import matplotlib.pyplot as plt
import numpy as np
plt.figure(figsize=(10, 7))
plt.plot(timesteps, btc_price)
plt.title("Price of Bitcoin from 1 Oct 2013 to 18 May 2021", fontsize=16)
plt.xlabel("Date")
plt.ylabel("BTC Price");